aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
.libs/
libtool
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
pcre2-config
pcre2_jit_test
pcre2grep
pcre2test
test-driver

RunGrepTest.log
RunGrepTest.trs
RunTest.log
RunTest.trs
pcre2_jit_test.log
pcre2_jit_test.trs
test-suite.log

src/config.h*
src/.deps/
src/.dirstamp
src/pcre2.h
src/pcre2_chartables.c
src/stamp-h1

*.a
*.la
*.lo
*.o
*.pc
*.swp
*.exe
